*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
}


:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 350px;

    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}


main {
    width: 100vw;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#name{
    font-size: 80px;
}
h2,
h3,
blockquote {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 100px;
}

nav{
    position: fixed;
    top: 0;
    color: white;
    background-color: black;
    height: 80px;
    width: 100%;
}
label.logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right:  20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #444444;
    transition: 0.5s;
}
#check{
    display: none;
}
#checkul li{
    float: right;
    line-height: 85px;
    display: none;
}
.checkimg{
    width: 20px;
    margin-right: 40px;
    cursor: pointer;
    
}
@media(max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav .navul li a{
        font-size: 16px;
    }
}
@media(max-width:858px){  /* 窗口缩小后改变布局 */
    #checkul li{
        display: block;
    }
    .navul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(15, 15, 15, 0.85);
        top: 80px;
        left: -100%;
        text-align: center;
        transform: all .5s;
    }
    .navul li{
        display: block;
    }
    .navul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background:#777777;
    }   
    #check:checked ~ .navul{
        left: 0;
    }
    #name{
        font-size: 60px;
    }
}





header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
}

section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
}

blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
}

.left {
    grid-column: 6 / 12;
}